* {
  box-sizing: border-box;
}

.App {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.header {
  position: fixed;
  top: 0;
  height: 10vh;
  left: 0;
  right: 0;

  font-size: 1.5em;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 6%;
}

.battery-icon {
  font-size: 2em;
}

.main {
  position: fixed;
  top: 10vh;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 6%;
}

.order-name {
  font-size: 1.5em;
}

.order {
  position: relative;
  max-height: 55vh;
  overflow-y: scroll;
}

.material {
  margin: 2%;
  margin-bottom: 3%;
  color: white;
  font-size: 1.2em;
}


.material-name {
  padding: 5%;
}

.material-description {
  padding: 8%;
  padding-left: 5%;
  padding-right: 5%;
  transition: height 0.2s ease-out, padding-top 0.2s ease-out, padding-bottom 0.2s ease-out;
}

.material-description-collapsed {
  position: relative;
  height: 0;
  padding: 0;
}

.material-description-expanded {
  position: relative;
  height: 100%;
}




