.header {
  background-color: rgb(73, 167, 221);
  color: white;
  /* box-shadow: 0 2px 8px 1px #051b33a1; */
}

.order-name {
  color: rgba(73, 73, 73, 0.637);
  padding-bottom: 2%;
}

.order-description {
  color: rgba(73, 73, 73, 0.637);
  padding-bottom: 2%;
  border-bottom: 2px solid rgba(73, 73, 73, 0.637);
}

.material {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0px 4px 1px #051b3360;
}

.material-name {
  background-color: rgb(73, 167, 221);
  color: white;
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.material-description {
  color: rgba(46, 46, 46, 0.863);
  background-color: rgb(195, 218, 231);
}

.material-uncollectable {
  box-shadow: none;
}

.material-uncollectable >*{
  background-color: rgba(207, 207, 207, 0.692);
}

.material-done {
  background-color: #3cc47c;
}
